.wrapper {
  height: 8vh;
  width: 30%;
  align-items: center;
  margin: 30px auto;
  border-radius: 25px;
  /* From https://css.glass */
  background: #c90f56c7;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 0, 0, 0.7);
}

.itemWrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 5px;
}

.item {
  padding: 7px 17px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  transition: border 30ms ease-in;
}

.item:hover,
a.active {
  background-color: #ffffff4f;
  border-radius: 30px;
}

/* Media Query for mobile devices */
@media (max-width: 767px) {
  .wrapper {
    width: 90%;
    height: 15vh;
  }

  .itemWrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
  }

  .item {
    margin: 5px;
    width: calc(50% - 10px);
    text-align: center;
    font-size: 15px;
  }
}